

<footer>
<br><br>
<div class="footerinfo">

<div class="socialmedia">

    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-x-twitter"></i>

</div>

<div class="compinfo">
    <h5> &copy; Wanderlust Private Limited </h5>
</div>


<div class="termscon">
<a href="/privacy">Privacy</a>
<a href="/terms">Terms</a>
</div>

</div>

</footer>


































