<% layout("/layouts/boilerplate")%>

<div class="row mt-3">



      <div class="alert alert-danger col-6 offset-3 d-flex align-items-center" role="alert">

        <div>
            <p> <i class="fa-solid fa-triangle-exclamation"></i> <%=message %></p>
         
        </div>
      </div>
</div>
































